#report-form-wrapper {
  align-items: center;
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.report-form-input {
  display: flex;
  flex-direction: column;
}

.report-form-label {
  text-align: right;
}

.report-form-section {
  justify-self: center;
  grid-column: 1 / 3;
}

#report-form-submit {
  background: linear-gradient(#3AFF50, #05B218);
  border: 0;
  border-radius: 2rem;
  box-shadow: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  padding: 1rem;
  text-shadow: 2px 2px 2px #036E0F;
}

select {
  border: 2px solid grey;
  border-radius: 2rem;
  height: 2rem;
  padding: 4px;
}